@{
    ViewData["Title"] = "Verification Successful";
}

<h2>Your email has been successfully verified!</h2>
<p>You can now log in to your account.  <a class="btn btn-danger" href="@Url.Action("Login", "Account")">Logout</a></p>
