@{
    ViewData["Title"] = "Verification Successful";
}

<h2>Your email has been successfully verified!</h2>
<p>You can now log in to your account.  <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Login</a></p>
